
/*@use './styles/_variables';
@use './styles/_font';*/
@use './styles/_footer';
@use './styles/_header';
@use './styles/_main';



/*
header{
    h1{
        @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, center, xx-large);
     }
    .menu__principal{
        background-image: linear-gradient(to bottom, variables.$secondary-color, white);
    }
   
  
}

main{
 
    .p__principal{
        @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, left,20px);
        padding: 20px;
        @media (min-width: 1200px){
        
            @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, left,22px);
            padding: 20px;
               
            }
            @media (min-width: 1400px){
        
                @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, left,24px);
                padding: 20px;
                   
                }
        }
    

    .zoom{
        overflow:hidden;
        .imagen{
            transition:0.35;
        }
        .imagen:hover{
            transform:scale(2);
        }
    }
  
.list-group {
    .active{
    background-color: variables.$secondary-color;
    color: black;
    border:variables.$primary-color;
}
}
.card-title{
    @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, center,22px);

}
.card-text{
    @include font.font-format(variables.$fonts-primary, 1200, normal, black, left,18px);
}

h3{
    @include font.font-format(variables.$fonts-primary, 1400, italic, variables.$primary-color, center,24px);
    padding: 20px;
}

p{ @include font.font-format(variables.$fonts-primary, 1200, italic, black, left,18px);}
}



.container-anima{ 
    padding:30px;
    align-items: center;
    #hermanos {
    position: absolute;
    transition: 0.5s;
}
}
 #hermanos:hover{
    opacity:0;
 }

 

footer{
    padding: 20px;
   .contacto {
        p{
            @include font.font-format(variables.$fonts-primary, 700, normal, variables.$primary-color, left,small);
        }
        h4{
            @include font.font-format(variables.$fonts-primary, 700, normal, variables.$primary-color, left,large);
        }
    }

    .redes {
        p{
            @include font.font-format(variables.$fonts-primary, 700, normal, variables.$primary-color, rigth,small);
        }
        h4{
            @include font.font-format(variables.$fonts-primary, 700, normal, variables.$primary-color, rigth,large);
        }
        
    }

   h5{
     @include font.font-format(variables.$fonts-primary, 700, normal, variables.$primary-color, center,large);
    }
 
    
    background-image: linear-gradient(to top, variables.$secondary-color, white);

    @media (min-width: 750px){
        .contenedor{
          
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px auto;
            grid-template-areas:
                "contacto redes"
                "derecho derecho";
            column-gap: 20px;
            row-gap: 10px;
        }
        
        .contacto {
            grid-area: contacto;
           text-align: left;
            margin: 20px
        
        }
        
        .redes {
            grid-area: redes;
            text-align: right;
            margin:20px;
        }
        
        .derecho {
            grid-area: derecho;
            text-align: center;
        }
        
        }
}

*/