@charset "UTF-8";
/*@use './styles/_variables';
@use './styles/_font';*/
footer {
  background-image: linear-gradient(to top, aquamarine, white);
  color: green;
  padding: 20px;
  text-align: center;
}
footer .contenedor {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-areas: "contacto" "redes" "derecho";
}
footer .contenedor .contacto {
  grid-area: contacto;
}
footer .contenedor .redes {
  grid-area: redes;
}
footer .contenedor .derecho {
  grid-area: derecho;
}
footer .contenedor {
  padding: 15px;
}
footer .contenedor h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}
footer .contenedor ul {
  list-style: none;
  padding: 0;
}
footer .contenedor ul li {
  margin-bottom: 5px;
}
footer .contenedor a {
  color: black;
  text-decoration: none;
}
footer .derecho {
  padding-top: 15px;
  border-top: 1px solid #555;
  font-size: 0.9em;
}
@media (min-width: 576px) and (max-width: 992px) {
  footer .contenedor {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacto redes" "derecho derecho";
  }
}
@media (min-width: 992px) {
  footer .contenedor {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas: "contacto none redes" "derecho derecho derecho";
    text-align: center;
  }
}

header {
  background-image: linear-gradient(to bottom, aquamarine, white);
}
header h1 {
  font-family: "Overlock", serif;
  font-weight: bolder;
  font-style: italic;
  color: green;
  text-align: center;
  font-size: xxx-large;
}
header .menu__principal {
  background-image: linear-gradient(to bottom, aquamarine, white);
}
header .icono-enlacemail {
  display: inline-block; /* O block, según tu diseño */
  width: 40px; /* Ancho del icono */
  height: 10px; /* Alto del icono */
  background-image: url("../../img/gmail2.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el tamaño del icono dentro del contenedor */
  text-indent: -9999px; /* Oculta cualquier texto dentro del enlace */
  overflow: hidden; /* Asegura que el texto oculto no cause problemas */
  padding: 14px;
  opacity: 0.9;
}
header .icono-enlacemail:hover {
  opacity: 0.5;
}
header .icono-enlacewhat {
  display: inline-block; /* O block, según tu diseño */
  width: 40px; /* Ancho del icono */
  height: 10px; /* Alto del icono */
  background-image: url("../../img/whatapps2.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el tamaño del icono dentro del contenedor */
  text-indent: -9999px; /* Oculta cualquier texto dentro del enlace */
  overflow: hidden; /* Asegura que el texto oculto no cause problemas */
  padding: 14px;
  opacity: 0.9;
}
header .icono-enlacewhat:hover {
  opacity: 0.5;
}
header .icono-enlaceface {
  display: inline-block; /* O block, según tu diseño */
  width: 40px; /* Ancho del icono */
  height: 10px; /* Alto del icono */
  background-image: url("../../img/facebook2.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el tamaño del icono dentro del contenedor */
  text-indent: -9999px; /* Oculta cualquier texto dentro del enlace */
  overflow: hidden; /* Asegura que el texto oculto no cause problemas */
  padding: 14px;
  opacity: 0.9;
}
header .icono-enlaceface:hover {
  opacity: 0.5;
}
header .icono-enlaceinsta {
  display: inline-block; /* O block, según tu diseño */
  width: 40px; /* Ancho del icono */
  height: 10px; /* Alto del icono */
  background-image: url("../../img/instagram2.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el tamaño del icono dentro del contenedor */
  text-indent: -9999px; /* Oculta cualquier texto dentro del enlace */
  overflow: hidden; /* Asegura que el texto oculto no cause problemas */
  padding: 14px;
  opacity: 0.9;
}
header .icono-enlaceinsta:hover {
  opacity: 0.5;
}
header .nav-item:hover {
  background-color: aquamarine;
}
header .navbar-brand:hover {
  background-color: aquamarine;
}

main .zoom {
  overflow: hidden;
}
main .zoom .imagen {
  transition: 0.35;
}
main .zoom .imagen:hover {
  transform: scale(2);
}
main .list-group .active {
  background-color: aquamarine;
  color: black;
  border: green;
}
main .card-title {
  font-family: "Overlock", serif;
  font-weight: 1200;
  font-style: italic;
  color: green;
  text-align: center;
  font-size: 22px;
}
main .card-text {
  font-family: "Overlock", serif;
  font-weight: 1200;
  font-style: normal;
  color: black;
  text-align: left;
  font-size: 18px;
}
main h3 {
  font-family: "Overlock", serif;
  font-weight: 1400;
  font-style: italic;
  color: green;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}
main p {
  font-family: "Overlock", serif;
  font-weight: 1200;
  font-style: italic;
  color: black;
  text-align: left;
  font-size: 18px;
}

.lista {
  padding: 40px;
  position: sticky;
  top: 40px; /* Asegura que se pegue a la parte superior */
  background-color: white; /* O el color de fondo que prefieras */
  z-index: 100; /* Asegura que esté por encima del contenido */
  /* Otros estilos para la barra de navegación */
}

.contenido {
  /* Estilos para el contenido principal */
  height: auto; /* Ejemplo para generar scroll */
}

.whatsapp-flotante {
  position: fixed; /* Lo fija a la ventana del navegador */
  bottom: 200px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la derecha */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  display: block;
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  border-radius: 50%; /* Lo hace circular */
  overflow: hidden; /* Oculta cualquier contenido que se salga del círculo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra opcional */
}
.whatsapp-flotante img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}
@media (max-width: 768px) {
  .whatsapp-flotante img {
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 480px) {
  .whatsapp-flotante img {
    bottom: 10px;
    right: 10px;
  }
}

/*Animación al pasar el ratón */
.whatsapp-flotante:hover {
  opacity: 0.8;
}

.arriba {
  position: fixed; /* Lo fija a la ventana del navegador */
  bottom: 150px; /* Distancia desde la parte inferior */
  right: 20px; /* Distancia desde la derecha */
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  display: block;
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  border-radius: 50%; /* Lo hace circular */
  overflow: hidden; /* Oculta cualquier contenido que se salga del círculo */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra opcional */
}
.arriba img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}
@media (max-width: 768px) {
  .arriba img {
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 480px) {
  .arriba img {
    bottom: 10px;
    right: 10px;
  }
}

/*Animación al pasar el ratón */
.arriba:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
