@use '_variables';
@use '_font';
@use '_iconos';
header{
 
  background-image: linear-gradient(to bottom, variables.$secondary-color, white);
    h1{
        @include font.font-format(variables.$fonts-primary, bolder, italic, variables.$primary-color, center, xxx-large);
       
      

     }
     
    .menu__principal{
      
        position: fixed;
        top:0;
        width: 100%;
        z-index: 100;
        background-image: linear-gradient(to bottom, variables.$secondary-color, white);
      
    }
    
    .icono-enlacemail {
       @include iconos.icono-enlace("../../img/gmail2.png");
       
      }   
    .icono-enlacemail:hover{
        opacity: 0.5;
    }
      .icono-enlacewhat{
        @include iconos.icono-enlace("../../img/whatapps2.png");
       
      }
      .icono-enlacewhat:hover{
        opacity: 0.5;
    }
      .icono-enlaceface{
      @include iconos.icono-enlace("../../img/facebook2.png");
    }
    .icono-enlaceface:hover{
        opacity: 0.5;
    }
 

    .icono-enlaceinsta{
        @include iconos.icono-enlace("../../img/instagram2.png");
      
      }
  
     .icono-enlaceinsta:hover{
        opacity: 0.5;
    } 
    .nav-item:hover{    
      background-color: variables.$secondary-color;
    } 

  .navbar-brand:hover{
         
    background-color: variables.$secondary-color;
} 
  
  
}