@use '_variables';
@use '_font';
main{
 
    .p__principal{
        @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, left,20px);
        padding: 20px;
        @media (min-width: 1200px){
        
            @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, left,22px);
            padding: 20px;
               
            }
            @media (min-width: 1400px){
        
                @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, left,24px);
                padding: 20px;
                   
                }
        }
    

    .zoom{
        overflow:hidden;
        .imagen{
            transition:0.35;
        }
        .imagen:hover{
            transform:scale(2);
        }
    }
  
.list-group {
    .active{
    background-color: variables.$secondary-color;
    color: black;
    border:variables.$primary-color;
}
}
.card-title{
    @include font.font-format(variables.$fonts-primary, 1200, italic, variables.$primary-color, center,22px);

}
.card-text{
    @include font.font-format(variables.$fonts-primary, 1200, normal, black, left,18px);
}

h3{
    @include font.font-format(variables.$fonts-primary, 1400, italic, variables.$primary-color, center,24px);
    padding: 20px;
}

p{ @include font.font-format(variables.$fonts-primary, 1200, italic, black, left,18px);}
}



.container-anima{ 
    padding:30px;
    align-items: center;
    #hermanos {
    position: absolute;
    transition: 0.5s;
}
}
 #hermanos:hover{
    opacity:0;
 }

 .lista {
    padding: 40px;
    position: sticky;
    top:40px; /* Asegura que se pegue a la parte superior */
    background-color: white; /* O el color de fondo que prefieras */
    z-index: 100; /* Asegura que esté por encima del contenido */
    /* Otros estilos para la barra de navegación */
  }
  
  .contenido {
    /* Estilos para el contenido principal */
    height: auto; /* Ejemplo para generar scroll */
  }